* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #686de0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* overflow: hidden; */
  padding: 20px;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 50px 20px;
  width: 800px;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  opacity: 0.5;
  letter-spacing: 2px;
}

#pLine {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 50px auto;
  line-height: 40px;
  max-width: 600px;
}

#pLineBtn {
  background-color: #9f68e0;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}
#pLineBtn:hover {
  background-color: hsl(268, 66%, 54%);
}
#pLineBtn:focus {
  outline: 3px solid hsl(268, 74%, 44%);
  outline-offset: 3px;
}
#pLineBtn:active {
  transform: scale(0.98);
}
